---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Solution from '../components/Solution.astro';
import WhySelfHosted from '../components/WhySelfHosted.astro';
import Integrations from '../components/Integrations.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Hero />
    <Problem />
    <Solution />
    <WhySelfHosted />
    <Integrations />
    <Pricing />
    <FAQ />
  </main>
  <Footer />
</Layout>
